alias graph="git log --all --decorate --oneline --graph"
alias v="mvim -v"
alias compilescss="npm run scss"
alias ls="ls -G"

alias myh="cd ~/.vim/plugged/vim-myhelp/doc"
alias df="cd ~/git/dotfiles"
alias md="vim -c VimwikiMakeDiaryNote"
alias wi="vim -c VimwikiIndex"
alias wd="vim -c VimwikiDiaryIndex"
alias s="v vimwiki/Scholarship\ Information.md "

alias dt="cd /Volumes/data"
alias vp="cd /Volumes/data/proposalphd"
alias vpp="mvim -v /Volumes/data/proposalphd/proposalphd.tex"
alias vm="cd /Volumes/data/motlet"
alias vml="mvim -v /Volumes/data/motlet/motlet.tex"

alias ve="cd /Volumes/data/essay"
alias ves="mvim -v /Volumes/data/essay/essay.tex"
alias sc="cd /Volumes/data/lamaran/assets"

alias bpi="cd /Volumes/data/admisi/bpi"
