alias graph="git log --all --decorate --oneline --graph"
alias v="mvim -v"
alias compilescss="npm run scss"
alias ls="ls -G"

alias myh="cd ~/.vim/plugged/vim-myhelp/doc"
alias df="cd ~/git/dotfiles"
alias md="vim -c VimwikiMakeDiaryNote"
alias ww="vim -c VimwikiIndex"
alias wi="vim -c VimwikiDiaryIndex"

alias tt="cd /Volumes/hdd/tesis"
alias ks="cd /Volumes/hdd/kuesioner2"
alias an="cd /Volumes/hdd/analisis"
alias kt="cd /Volumes/hdd/keynoteTesis"

alias ip="cd /Volumes/hdd/sttblog"
alias ip2="~/git/dotfiles/autogithomesj.sh"
