alias anm="less /Volumes/Data/aliases.md"

# git 
alias graph="git log --all --decorate --oneline --graph"
alias gl="git log --pretty=format:'%h > %<(20)%s' -10 | column -s '|'"

# program
alias v="nvim"
alias compilescss="npm run scss"


# program directtory
alias cn="cd ~/.config/nvim"
alias cnl="cd ~/.config/nvim/lua/core"
alias df="cd ~/git/dotfiles"
alias myh="cd ~/.vim/plugged/vim-myhelp/doc"

# vimwiki
alias md="v -c VimwikiMakeDiaryNote"
alias wi="v -c VimwikiIndex"
alias wd="v -c VimwikiDiaryIndex"
